<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add 
            name="AdventureWorks" 
            connectionString="Server=172.16.226.128;Database=AdventureWorks2017;User Id=Mac;Password=1234" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>