<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add 
            name="AdventureWorksUnTrusted" 
            connectionString="Server=172.16.226.2;Database=AdventureWorks2017;User Id=Mac;Password=1234" 
            providerName="System.Data.SqlClient" />
        <add 
            name="AdventureWorksTrusted" 
            connectionString="Server=172.16.226.2;Database=AdventureWorks2017;Trusted_Connection=True" 
            providerName="System.Data.SqlClient" />
      <add 
            name="localKRM"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KRMData;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            />
    </connectionStrings>
</configuration>
